/*stylesheet for circleAnimation.html*/

* {
  font-family: 'Arial', 'Times New Roman', 'Helvetica';
}
.nav {
  width: 100%;
  height: 60px;
  padding-left: 10px;
  position: fixed;
  background-color: #1ED585;
  color: black;
  top: 0px;
  left: 0px;
}

canvas {
  position: relative;
  left: 45%;  
}
